input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica; 
  font-weight: 300;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 30px 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.8;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

#llpos{
  text-align:center;
  border: 0;
  padding:2px 0 0 0;
}

#boxll{
  background-color: white;
  opacity: 0.8;
  padding: 0;
}

#small_icon{
  font-size: 12px;
  padding: 0;
}

.shiny-notification {
             position:fixed;
             top: calc(50%);
             left: calc(50%);
             }